$borderColor: solid rgb(0, 0, 0);
$btnBackgroundColor: green;
$hoverBtnColor: rgb(79, 145, 79);

.table{
    border : 3px $borderColor;
    border-collapse: collapse;
}

tr {
  height: 20px;
  border: 1px $borderColor;
}

th {
  height: 20px;
  border: 1px $borderColor;
  background-color: rgb(196, 194, 194);
  padding: 2px;
}

td {
  height: 20px;
  border: 1px $borderColor;
  background-color: white;
  color: black;
  padding: 2px;
}

button{
  background-color: $btnBackgroundColor;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.addrecipe{
  background-color: $btnBackgroundColor;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.addrecipe:hover {
  background-color: $hoverBtnColor;
}

button:hover{
  background-color: $hoverBtnColor;
}

